Options -MultiViews
    RewriteRule ^(newsletter_subscribe)($|/$) - [L]
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [QSA]