/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { background-color: transparent }
    50% { background-color: #000; }
}



.ui-ignore {
    opacity: .3;
}
.show-boundary {
    border: 1px solid red;
}