body {
    overflow: overlay;
}

::-webkit-scrollbar {
    background: transparent;
    width: 32px;
}
::-webkit-scrollbar-thumb {
    background-color: #8621d1;/*#750dc3;/*#912bde;/*#7a0ddd;/*#5d00af;*/
    border: 13px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: 32px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #d7a9ff;/*#c78bf4;/*#a434f9;/*#d8acff/*#a36af1;/*#2dc5b7;*/
}